In [39]:
import pandas as pd
import sqlite3
import datetime as dt
pd.set_option("display.max_rows", 7)

In [40]:
df_caneloB = pd.read_csv("data/canelobivol.csv", encoding='latin1')
df_caneloG = pd.read_csv('data/CaneloGGG2.csv', encoding='latin1')
df_usyk1 = pd.read_csv('data/joshuausyk.csv', encoding='latin1')
df_usyk2 = pd.read_csv('data/JoshuaUsyk2.csv', encoding='latin1')

In [41]:
df_usyk2

,fighter,punchType,powerpunchType,punchPlacement,punchLanded,partOfCombo,counterpunch,knockdownOrKO,round,timestamp,comment
0,Joshua,jab,NaN,head,missed,soloPunch,no,no,1,02:58,NaN
1,Usyk,jab,NaN,head,missed,soloPunch,no,no,1,02:57,NaN
2,Usyk,jab,NaN,head,missed,comboPunch,no,no,1,02:56,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1550,Joshua,jab,NaN,head,missed,comboPunch,no,no,12,00:08,NaN
1551,Joshua,powerpunch,cross,head,missed,comboPunch,no,no,12,00:07,NaN
1552,Joshua,hold,NaN,NaN,NaN,NaN,no,no,12,00:01,NaN

In [42]:
df_usyk2['timestamp'] = '00:' + df_usyk2['timestamp']

In [43]:
df_usyk2['test'] = pd.to_timedelta(df_usyk2['timestamp'])

ValueError: expected hh:mm:ss format

In [ ]:
df_usyk2['test'] = pd.to_timedelta(df_usyk2['timestamp'], unit=('h'))

TypeError: dtype datetime64[ns] cannot be converted to timedelta64[ns]

In [ ]:
for i in len(df_usyk2):
    print(df_usyk2['timestamp'][i].hour)

TypeError: 'int' object is not iterable

In [ ]:
# df_usyk1['timestamp'] = df_usyk1.timestamp.
# df_usyk2['timestamp'] =df_usyk2.timestamp.astype('str')
# df_caneloB['timestamp'] =df_caneloB.timestamp.astype('str')
# df_caneloG['timestamp'] =df_caneloG.timestamp.astype('str')

In [44]:
df_usyk1 = df_usyk1.drop(['knockdownOrKO', 'comment'], axis=1)
df_usyk2 = df_usyk2.drop(['knockdownOrKO', 'comment'], axis=1)
df_caneloG = df_caneloG.drop(['knockdownOrKO', 'comment'], axis=1)
df_caneloB = df_caneloB.drop(['knockdownOrKO', 'comment'], axis=1)

In [45]:
rename_usyk1 = df_usyk1.rename(columns={'fighter': 'Fighter', 'punchType': 'Punch_Type', 'powerpunchType': 'Power_Punch',
                         'punchPlacement': 'Placement', 'punchLanded': 'Landed', 'partOfCombo': 'Combo',
                           'counterpunch': 'Counter_Punch', 'round': 'Round', 'timestamp': 'Time_Stamp'})
rename_usyk2 = df_usyk2.rename(columns={'fighter': 'Fighter', 'punchType': 'Punch_Type', 'powerpunchType': 'Power_Punch',
                         'punchPlacement': 'Placement', 'punchLanded': 'Landed', 'partOfCombo': 'Combo',
                           'counterpunch': 'Counter_Punch', 'round': 'Round', 'timestamp': 'Time_Stamp'})
rename_caneloB = df_caneloB.rename(columns={'fighter': 'Fighter', 'punchType': 'Punch_Type', 'powerpunchType': 'Power_Punch',
                         'punchPlacement': 'Placement', 'punchLanded': 'Landed', 'partOfCombo': 'Combo',
                           'counterpunch': 'Counter_Punch', 'round': 'Round', 'timestamp': 'Time_Stamp'})
rename_caneloG = df_caneloG.rename(columns={'fighter': 'Fighter', 'punchType': 'Punch_Type', 'powerpunchType': 'Power_Punch',
                         'punchPlacement': 'Placement', 'punchLanded': 'Landed', 'partOfCombo': 'Combo',
                           'counterpunch': 'Counter_Punch', 'round': 'Round', 'timestamp': 'Time_Stamp'})

In [46]:
rename_caneloB['Combo'] = rename_caneloB['Combo'].replace({'soloPunch': 'Single', 'comboPunch': 'Combo'})
rename_caneloG['Combo'] = rename_caneloG['Combo'].replace({'soloPunch': 'Single', 'comboPunch': 'Combo'})
rename_usyk1['Combo'] = rename_usyk1['Combo'].replace({'soloPunch': 'Single', 'comboPunch': 'Combo'})
rename_usyk2['Combo'] = rename_usyk2['Combo'].replace({'soloPunch': 'Single', 'comboPunch': 'Combo'})

In [47]:
dropped_caneloB = rename_caneloB.Power_Punch.dropna()
dropped_caneloG = rename_caneloG.Power_Punch.dropna()
dropped_usyk1 = rename_usyk1.Power_Punch.dropna()
dropped_usyk2 = rename_usyk2.Power_Punch.dropna()

In [ ]:
rename_caneloB

,Fighter,Punch_Type,Power_Punch,Placement,Landed,Combo,Counter_Punch,Round,Time_Stamp
0,Bivol,jab,NaN,head,missed,Single,no,1,02:57
1,Bivol,jab,NaN,head,missed,Single,no,1,02:55
2,Bivol,jab,NaN,head,missed,Single,no,1,02:51
...,...,...,...,...,...,...,...,...,...
1486,Bivol,jab,NaN,head,missed,Combo,no,12,00:04
1487,Bivol,powerpunch,cross,head,missed,Combo,no,12,00:03
1488,Bivol,jab,NaN,head,missed,Combo,no,12,00:01

In [ ]:
dropped_caneloB

10       hook
15       hook
18       hook
        ...
1479     hook
1481     hook
1487    cross
Name: Power_Punch, Length: 515, dtype: object

In [48]:
pd.unique(rename_usyk2['Time_Stamp'])

array(['00:02:58', '00:02:57', '00:02:56', '00:02:55', '00:02:52',
       '00:02:48', '00:02:45', '00:02:43', '00:02:41', '00:02:39',
       '00:02:38', '00:02:36', '00:02:27', '00:02:21', '00:02:19',
       '00:02:16', '00:02:15', '00:02:13', '00:02:12', '00:02:10',
       '00:02:09', '00:02:07', '00:02:01', '00:01:59', '00:01:54',
       '00:01:52', '00:01:51', '00:01:49:00 AM', '00:01:43:00 AM',
       '00:01:41:00 AM', '00:01:39:00 AM', '00:01:37:00 AM',
       '00:01:32:00 AM', '00:01:31:00 AM', '00:01:28:00 AM',
       '00:01:26:00 AM', '00:01:25:00 AM', '00:01:23:00 AM',
       '00:01:22:00 AM', '00:01:10:00 AM', '00:01:07:00 AM',
       '00:01:03:00 AM', '00:01:02:00 AM', '00:01:00:00 AM',
       '00:12:58:00 AM', '00:12:55:00 AM', '00:00:54', '00:00:51',
       '00:00:48', '00:00:47', '00:00:44', '00:00:42', '00:00:41',
       '00:00:40', '00:00:39', '00:00:38', '00:00:34', '00:00:33',
       '00:00:29', '00:00:28', '00:00:27', '00:00:17', '00:00:15',
       '00:00:14', '00:00:11', '00:00:10', '00:00:09', '00:00:07',
       '00:00:06', '00:02:51', '00:02:49', '00:02:37', '00:02:35',
       '00:02:33', '00:02:32', '00:02:29', '00:02:24', '00:02:22',
       '00:02:20', '00:02:11', '00:02:08', '00:02:03', '00:02:00',
       '00:01:58', '00:01:57', '00:01:55', '00:01:47', '00:01:45',
       '00:01:44', '00:01:40', '00:01:37', '00:01:36', '00:01:35',
       '00:01:32', '00:01:29', '00:01:28', '00:01:24', '00:01:22',
       '00:01:21', '00:01:19', '00:01:17', '00:01:15', '00:01:14',
       '00:01:09', '00:01:06', '00:01:03', '00:01:02', '00:01:00',
       '00:00:58', '00:00:57', '00:00:56', '00:00:55', '00:00:53',
       '00:00:50', '00:00:43', '00:00:37', '00:00:36', '00:00:32',
       '00:00:31', '00:00:24', '00:00:23', '00:00:22', '00:00:21',
       '00:00:16', '00:00:13', '00:00:12', '00:00:04', '00:00:03',
       '00:02:54', '00:02:46', '00:02:42', '00:02:25', '00:02:23',
       '00:02:17', '00:01:56', '00:01:53', '00:01:43', '00:01:41',
       '00:01:39', '00:01:38', '00:01:33', '00:01:30', '00:01:25',
       '00:01:18', '00:01:08', '00:01:04', '00:01:01', '00:00:49',
       '00:00:46', '00:00:30', '00:00:25', '00:00:20', '00:00:18',
       '00:00:05', '00:00:01', '00:02:53', '00:02:50', '00:02:47',
       '00:02:30', '00:02:06', '00:02:05', '00:01:46', '00:01:34',
       '00:01:27', '00:01:26', '00:01:23', '00:01:20', '00:01:13',
       '00:01:11', '00:01:05', '00:00:52', '00:00:26', '00:00:08',
       '00:00:02', '00:02:44', '00:02:26', '00:02:02', '00:01:50',
       '00:01:16', '00:01:12', '00:00:59', '00:02:14', '00:02:04',
       '00:01:48', '00:01:31', '00:01:07', '00:00:35', '00:00:19',
       '00:02:34', '00:02:31', '00:01:10', '00:02:28', '00:01:42',
       '00:00:45', '00:02:18', '00:02:40', '00:01:49'], dtype=object)